/* css styles */
/* Only targets callouts that also have the .faq-callout class */
.callout.faq-callout {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

.popover {
  max-width: 350px; /* Adjust as needed for your iframe */
}
.popover-body {
  padding: 0; /* Removes padding so the iframe fills the box */
}

/* Increased specificity to override Quarto's Bootstrap defaults */
.quarto-container table thead th, 
.table thead th {
  background-color: #003B46 !important; /* Forces the color change */
  color: white !important;            /* Forces the text color */
}

